@inject IHttpContextAccessor HttpContextAccessor
@inject IAuthClient AuthClient
@inject NavigationManager NavigationManager
@page "/"
@using TimeForCode.Authorization.Api.Client

<PageTitle>Home</PageTitle>

<h1>Hello, @userName</h1>

Welcome to your new app.

@authenticatedMessage

<a href="http://localhost:8080/api/Authentication/login?IdentityProvider=Github">Log in with Github</a>

@{
    string logoutUri = $"http://localhost:8080/api/Authentication/logout?RedirectUri={NavigationManager.Uri}";
}
<a href="@logoutUri">Log out</a>

@code {
    private string? authenticatedMessage;
    private string? userName;

    protected async override Task OnInitializedAsync()
    {
        var cookieValue = HttpContextAccessor.HttpContext?.Request.Cookies["AccessToken"];
        if (string.IsNullOrEmpty(cookieValue))
        {
            authenticatedMessage = $"You are not logged in";
        }
        else
        {
            authenticatedMessage = "You are logged in.";
            await AuthClient.UserAsync().ContinueWith(task =>
            {
                if (task.IsCompletedSuccessfully)
                {
                    userName = task.Result.Name;
                    InvokeAsync(StateHasChanged);
                }
            });
        }
    }

    private async Task Logout()
    {
        // get current url
        await AuthClient.LogoutAsync(NavigationManager.Uri);
        authenticatedMessage = "You are not logged in";
        StateHasChanged();
    }
}