@inject IHttpContextAccessor HttpContextAccessor
@inject IAuthClient AuthClient
@page "/"
@using TimeForCode.Authorization.Api.Client

<PageTitle>Home</PageTitle>

<h1>Hello, @userName</h1>

Welcome to your new app.

@authenticatedMessage

@code {
    private string? authenticatedMessage;
    private string? userName;

    protected async override Task OnInitializedAsync()
    {
        var cookieValue = HttpContextAccessor.HttpContext?.Request.Cookies["AccessToken"];
        if (string.IsNullOrEmpty(cookieValue))
        {
            authenticatedMessage = $"You are not logged in";
        }
        else
        {
            authenticatedMessage = "You are logged in.";
            await AuthClient.UserAsync().ContinueWith(task =>
            {
                if (task.IsCompletedSuccessfully)
                {
                    userName = task.Result.Name;
                    InvokeAsync(StateHasChanged);
                }
            });
        }
    }
}